/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./resources/2ZIL.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.5; /* Set the opacity of the image */
    z-index: -1; /* Make sure it stays behind other content */
}

h1 {
    text-align: center;
    color: #00509e;
}

#toggleFiltersBtn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #C39861;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#toggleFiltersBtn:hover {
    background-color: #917148;
}

#encapsulated {
    background-color: black;
    width: 60%;
    margin-left: 20%;
}


#sliders, #checkboxes, .dropdown-container {
    margin: 20px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: white;
}

.left-column, .right-column {
    width: 45%;
}

.slider-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: white;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

span {
    display: inline-block;
    width: 120px;
    text-align: right;
}

p {
    margin: 5px 0 15px;
    color: white;
    font-size: 0.9em;
}

.checkbox-container {
    margin-bottom: 10px;
}

.dropdown-container {
    text-align: center;
}

#filterBtn, #goToPageBtn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #C39861;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#filterBtn:hover, #goToPageBtn:hover {
    background-color: #917148;
}

#results {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}

.result-item {
    width: 100%; /* Take the full width available */
    max-width: 560px; /* Set a max-width to match the video width */
    margin: 20px auto; /* Center the result-item div */
    background-color: lightyellow; /* Your existing style */
    padding: 10px; /* Optional padding */
    border: 1px solid #ccc; /* Optional border */
}

.result-item iframe {
    width: 100%;
    height: 315px; /* Maintain the aspect ratio */
}


.result-item img {
    margin-top: 10px;
    border: 1px solid #ccc;
}

.result-item a {
    color: #00509e;
    text-decoration: none;
}

.result-item a:hover {
    text-decoration: underline;
}
